<div class="overlay"></div>
<div class="tlo3"></div>
<div class="btn-holder-logout logout-position">
    <div class="container h-100">
            <div class="item-holder-logout">
                    <button type="button" (click)="logout()" class="btn btn-light">Wyloguj się</button>
                  </div>
        
    </div>
</div>
<div class="btn-holder absolut-center">
    <div class="container-fluid h-100 ">
        <div class="row h-100 align-items-stretch justify-content-between">
            <div class="item-holder text-center border border-info">
               
                
                <h4>
                    <br><a href="https://goo.gl/forms/OEc4kUte8CEm4h3O2">SPRINT</a>
                    <br>1</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x "></i>
                    <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center border border-info">
                <h4>
                    <br><a href="https://goo.gl/forms/yHf50BoSqKqIJDFx2">SPRINT</a>
                    <br>2</h4>
                
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center border border-info">
          
                    <div class="h-100">
                        <h4>
                            <br><a href="https://goo.gl/forms/V79PXrkYjMp5a0Ub2">SPRINT</a>
                            <br>3</h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                <!-- </a> -->
            </div>
        </div>
    </div>

</div>



