<div class="overlay"></div>
<div class="tlo5">
  <div class=text-center>
  <h1>GRUPA 4</h1>
</div>
<div class="btn-holder-logout logout-position">
    <div class="container h-100">
        <div class="item-holder-logout">
            <button type="button" (click)="logout()" class="btn btn-info">Wyloguj się</button>
          </div>
        
    </div>
</div>

<!-- <div class="user-holder sprint1 ">
    <div class="container-fluid  text-center">
            <h3>SPRINT 4</h3>
        <div class="box h-100 align-items-stretch justify-content-between text-center">
                
            <div class="item-holder text-center">
                <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/SrPGw167Ne81kzkP2">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a>
                 <h4>
                    <br>WYNIKI
                    <br>ANKIETY</h4>
                     <a href="https://docs.google.com/forms/d/1-OYgqq1q5U0hDiVaLHwA5_q_SPUeoaEVPwLhGWW312Q/viewanalytics">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>  </span>
                    </a>
              
            </div>
            <div class="item-holder text-center" [routerLink]="['/info4']">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/nexus-trzy']">
                <h4>
                    <br>WIKI 
                    <br>NEXUS</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div>


<div class="user-holder sprint2 ">
    <div class="container-fluid  text-center">
            <h3>SPRINT 3</h3>
        <div class="box h-100 align-items-stretch justify-content-between text-center">
                
            <div class="item-holder text-center">
                <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/asKTRIlKf7E7Zhi82">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a>
                <h4>
                    <br>WYNIKI
                    <br>ANKIETY</h4>
                     <a href="https://docs.google.com/forms/d/11QgjMxUDJKEpUUOlEi5yd7f93Dw6K7Ivs1x1rmQkeXk/viewanalytics">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>  </span>
                    </a>    
              
            </div>
            <div class="item-holder text-center" [routerLink]="['/info4']">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/nexus-trzy']">
                <h4>
                    <br>WIKI 
                    <br>NEXUS</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div>  -->


  <div class="user-holder sprint1 ">
    <div class="container-fluid  text-center">
            <h3>SPRINT 2</h3>
        <div class="box h-100 align-items-stretch justify-content-between text-center">
                
            <div class="item-holder text-center">
                <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/xqHzrV1MkV4vrPW73">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a>

                 <!-- <h4>
                    <br>WYNIKI
                    <br>ANKIETY</h4>
                        <a href="https://docs.google.com/forms/d/1S49NnDO6AWqEmO53jmPXyaI3QeP01NlS-o3_5P1r-wA/viewanalytics">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle fa-stack-2x "></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>  </span>
                    </a> -->
              
            </div>
            <div class="item-holder text-center" [routerLink]="['/info4']">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/nexus']">
                <h4>
                    <br>WIKI 
                    <br>NEXUS</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']" >
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div> 

<div class="user-holder sprint2 bottom">
    <div class="container-fluid  text-center ">
            <h3>SPRINT 1</h3>
        <div class="box h-100 align-items-stretch justify-content-between">
            <div class="item-holder text-center">
                <!-- <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/sSbvpGKGEBhXl01G2">
                      <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                       <i class="fa fa-circle fa-stack-2x "></i>
                        <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                 </a>  -->

                <h4>
                    <br>WYNIKI
                    <br>ANKIETY</h4>
                     <a href="https://docs.google.com/forms/d/14fWk6T5RPSNkXAYWWlN6oGjDR48JNr8gwNqWWhUefzw/viewanalytics">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>  </span>
                    </a>
              
            </div>
            <div class="item-holder text-center" [routerLink]="['/info4']">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/wiki']">
                <h4>
                    <br>WIKI 
                    <br>SCRUM</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div>  
    </div>

</div>

 