<div class="overlay"></div>

<ngb-carousel>
  <ng-template ngbSlide>
    <img class="d-block w-100 img-size" src="assets/images/NexusScrum.png" alt="Random first slide">
  </ng-template>
  <ng-template ngbSlide>
    <img class="d-block w-100 img-size" src="assets/images/NexusFramework.png" alt="Random second slide"> 
  </ng-template>
  <ng-template ngbSlide>
    <img class="d-block w-100 img-size" src="assets/images/scrumvalues.PNG" alt="Random third slide">
  </ng-template>
</ngb-carousel>

<ngb-tabset [justify]="justified">
  <ngb-tab title="Role">
    <ng-template ngbTabContent>
        <div class="row">
            <div class="column2">
                <div class="card2">
                  <h5>Zespół Integracyjny Nexusa</h5>
                     <p> Odpowiada za postęp i wytwarzanie Zintegrowanego Przyrostu. Zespół Integracyjny Nexusa jest zespołem Scrumowym, w którego skład wchodzą: Product Owner, Nexus Scrum Master oraz jeden lub więcej członków Zespołu Integracyjnego Nexusa. Zespół ten jest odpowiedzialny za integrację wszystkich zespołów pracujących nad Zintegrowanym Przyrostem, redukując i rozwiązując problemy techniczne oraz pozatechniczne zależności.</p>
                </div>
            <br>
            </div>

            <div class="column">
                <div class="card">
                  <h5>Zespół Scrumowy</h5>
                     <p>Składa się z Właściciela Produktu (ang. Product Owner), Scrum Mastera oraz Zespołu Deweloperskiego (ang. Development Team). Samoorganizacja, decyzyjność, kompetencja oraz niezależność to cechy charakteryzujące Zespoły Scrumowe.</p>
                </div>     
            </div>

            <div class="column">
              <div class="card">
                  <h5>Właściciel Produktu</h5>
                    <p>Dba o maksymalizację wartości pracy Zespołu Deweloperskiego oraz przede wszystkim samego produktu. Jest to jedyna osoba odpowiedzialna za poprawne prowadzenie i zarządzanie Backlogiem Produktu (ang. Product Backlog). Jego decyzje muszą być respektowane przez cały zespół, a nawet organizację.</p> 
              </div>     
            </div>

            <div class="column">
              <div class="card">
                  <h5>Scrum Master</h5>
                  <p>stoi na straży i pilnuje aby Scrum był przestrzegany i rozumiany. Scrum Master poprzez swoje działania pomaga Zespołowi Deweloperskiemu w wytwarzaniu jak najwyższej wartości produktu.</p> 
              </div>
            <br>
            </div>
             
            <div class="column">
              <div class="card">
                  <h5>Zespół Deweloperski</h5>
                  <p>Formułuje od 3 do 9 profesjonalistów mających na celu ukończenie każdego Sprintu oraz wytworzenia Przyrostu produktu. </p>
              </div>
            </div>

            <div class="column">
              <div class="card">
                  <h5>Właściciel Produktu w Zespole Integracyjnym Nexusa</h5>
                      <p>Pracuje na głównym Backlogu Produktu i jest za niego w pełni odpowiedzialny.</p> 
              </div>
            </div>
   
            <div class="column">
              <div class="card">
                  <h5>Scrum Master w Zespole Integracyjnym Nexusa</h5>
                      <p>Upewnia się że Nexus i Scrum są poprawnie stosowane i rozumiane. Może być również Scrum Masterem w jednym lub wielu Zespołach Scrumowych. </p>   
              </div>
            </div>

            <div class="column">
              <div class="card">
                  <h5>Członkowie Zespołu Integracyjnego Nexusa</h5>
                      <p>Łączy w sobie specjalistów w dziedzinie programowania, dzięki czemu mogą oni zapewnić, że wszystkie działania Zespołów Scrumowych są wykonywane zgodnie z definicją „Ukończenia” (ang. definition of „Done”). Prowadzą oni zespoły Scrumowe tak, aby wytwarzali oni oprogramowanie zgodnie ze standardami panującymi w organizacji. Członkowie Zespołu Integracyjnego Nexusa mogą również uczestniczyć w Zespołach Scrumowych, jednak zadania związane z Zespołem Integracyjnym Nexusa mają wyższy piorytet.</p>       
              </div>
            </div>
            </div>

            
              
            

            
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Wydarzenia</ng-template>
    <ng-template ngbTabContent>
        <div class="row">
            <div class="column2">
                <div class="card2">
                    <h5>Wydarzenia występujące w Scrumie</h5>
                     <p> Wprowadza się je w celu uzyskania regularności oraz aby zredukować potrzebę organizowania innych spotkań. Wszystkie wydarzenie są ograniczone czasowo oraz wspólnie zapewniają, niezbędną przy prowadzeniu projektu, transparencję. 
                     </p></div>
                     <br>
                </div>
          <div class="column">
            <div class="card">
                <h5>Planowanie Sprintu Nexusa</h5>
                 <p>Przedstawiciele każdego z mniejszego zespołu Scrumowego spotykają się w celu omówienia Backlogu Produktu oraz wybrania funkcjonalności dla każdego zespołu. Następnym krokiem jest planowanie wewnątrz poszczególnych zespołów dzięki czemu otrzymujemy główny Cel Sprintu. 
                 </p></div>
                 
            </div>
          <div class="column">
            <div class="card">
                <h5>Wytwarzanie Przyrostu</h5>
                <p>Każdy z zespołów w trakcie Sprintu dzięki swojej pracy programistycznej przyczynia się do zwiększenia wartości Przyrostu.  
                  </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
                <h5>Codzienny Scrum Nexusa</h5>
                <p>Codzienne spotkanie reprezentantów każdego z Zespołu Deweloperskiego w celu identyfikacji problemów związanych z integracją. W przypadku wystąpienia jakichkolwiek problemów przekazywane są one innym zespołom w ramach Codziennego Scruma. Problemy związane z integracją powinny być rozwiązane w pierwszej kolejności. 
                  </p>
            </div>
          </div>
          <br>
          <div class="column">
              <div class="card">
                  <h5>Przegląd Sprintu Nexusa</h5>
                   <p>To wtedy wszystkie Scrumowe zespoły spotykają się razem z Właścicielem Produktu i prezentują Zintegrowany Przyrost.  
 
                   </p></div>
                   
              </div>
              <div class="column">
                  <div class="card">
                      <h5>Retrospektywa Sprintu Nexusa</h5>
                       <p>Wyznaczeni przedstawiciele każdego Zespołu Scrumowego spotykają się, aby zidentyfikować wspólne wyzwania. Następnie każdy Zespół Scrumowy przeprowadza swoją własną Retrospektywę Sprintu. Po jej zakończeniu wyznaczeni przedstawiciele każdego z zespołów spotykają się ponownie, aby omówić działania, których realizacja jest niezbędna w obliczu wspólnych wyzwań. Takie działanie jest przejawem wykorzystania „oddolnej inteligencji. 
                       </p></div>
                       
                  </div>
        </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Artefakty">
    <ng-template ngbTabContent>
      <div class="row">
          <div class="column2">
              <div class="card2">
                  <h5>Artefakty Scruma</h5>
                   <p> (ang. Scrum Artifacts) to Praca czy wartość, dzięki której w Scrumie utrzymywana jest transparentność, możliwość inspekcji oraz adaptacji. Należą do nich:
                   </p></div>
                   <br>
              </div>
        <div class="column">
          <div class="card">
              <h5>Backlog Produktu</h5>
               <p>(ang. Product Backlog), czyli czytelny zbiór wszystkich informacji powiązanych z rozwojem produktu. Jest to jedyne źródło wymagań odnośnie produktu, a odpowiedzialnym za niego jest Właściciel Produktu. Backlog w formie listy prezentuje wszystkie funkcje, ulepszenia, wymagania, cechy, a także korekty, reprezentujące zmiany, które mogą zajść. 
               </p></div>
               
          </div>
        <div class="column">
          <div class="card">
              <h5>Backlog Sprintu</h5>
              <p>(ang. Sprint Backlog) jest analogiczny dla Backlogu Produktu jednakże zawiera elementy wybrane do zrealizowania w trakcie Sprintu. 
                </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
              <h5>Przyrost</h5>
              <p>(ang. Increment) to suma wszystkich elementów Backlogu zrealizowanych w trakcie trwania Sprintu. </p>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

