<div class="overlay"></div>
<div class="tlo5">
  <div class=text-center>
  <h1>WYBIERZ SWOJĄ GRUPĘ</h1>
</div>
<div class="btn-holder-logout logout-position">
    <div class="container h-100">
        <div class="item-holder-logout">
            <button type="button" (click)="logout()" class="btn btn-info">Wyloguj się</button>
          </div>
        
    </div>
</div>

<div class="btn-holder absolut-center ">
    <div class="container-fluid h-100 ">
        <div class="row h-100 align-items-stretch justify-content-between">
            <div class="item-holder text-center border border-info user-holder" [routerLink]="['/grupa1']">
              <br>
                <h4>GRUPA 1</h4>
            </div>
            <div class="item-holder text-center border border-info user-holder" [routerLink]="['/grupa2']">
              <br>
                <h4>GRUPA 2</h4>
            </div>
            <div class="item-holder text-center border border-info user-holder" [routerLink]="['/grupa3']">
              <br>
                <h4>GRUPA 3</h4>
            </div>
        </div>

        <div class="row h-100 align-items-stretch justify-content-between">
            <div class="item-holder text-center border border-info user-holder" [routerLink]="['/grupa4']">
              <br>
                <h4>GRUPA 4</h4>
            </div>
            <div class="item-holder text-center border border-info user-holder" [routerLink]="['/grupa5']">
              <br>
                <h4>GRUPA 5</h4>
            </div>
            <div class="item-holder text-center border border-info user-holder" [routerLink]="['/grupa6']">
              <br>
                <h4>GRUPA 6</h4>
            </div>
          </div>
        </div>
    </div>

</div>


