<div class="overlay"></div>
<div class="full-screen-img"></div>
<div class="holder absolut-center container-fluid">

            <label>Czas trwania:</label>
            <input type="text" placeholder="Wpisz czas trwania sprintu" class="form-control">
            <label>Godzina</label>
            <input type="text" placeholder="Wprowadź godzinę Daily Scrum" class="form-control">
            <label>Miejsce</label>
            <input type="text" placeholder="Wprowadź miejsce Daily Scrum" class="form-control">
            <label>Sprint Review</label>
            <input type="date" placeholder="Wybierz termin Sprint Review" class="form-control">
            <label>Sprint Retrospective</label>
            <input type="date" placeholder="Wybierz termin Sprint Review" class="form-control">
            <!-- <label>Scrum Master</label>
            <input type="text" placeholder="Imię i nazwisko Scrum Mastera" class="form-control">
            <label>Product Owner</label>
            <input type="text" placeholder="Imię i nazwisko Product Ownera" class="form-control"> -->

  
</div>
