<div class="overlay"></div>
<div class="tlo5">
<!-- <ngb-carousel>
  <ng-template ngbSlide>
    <img class="d-block w-100 img-size" src="assets/images/NexusScrum.png" alt="Random first slide">
  </ng-template>
  <ng-template ngbSlide>
    <img class="d-block w-100 img-size" src="assets/images/NexusFramework.png" alt="Random second slide"> 
  </ng-template>
  <ng-template ngbSlide>
    <img class="d-block w-100 img-size" src="assets/images/scrumvalues.PNG" alt="Random third slide">
  </ng-template>
</ngb-carousel> -->

<ngb-tabset [justify]="justified">
  <ngb-tab title="Role">
    <ng-template ngbTabContent>
        <div class="row">
            <div class="column2">
                <div class="card2">
                  <h5>Nexus Integration Team</h5>
                     <p> Odpowiada za postęp i wytwarzanie Zintegrowanego Przyrostu. Zespół Integracyjny Nexusa jest zespołem Scrumowym, w którego skład wchodzą: Product Owner, Nexus Scrum Master oraz jeden lub więcej członków Zespołu Integracyjnego Nexusa. Zespół ten jest odpowiedzialny za integrację wszystkich zespołów pracujących nad Zintegrowanym Przyrostem, redukując i rozwiązując problemy techniczne oraz pozatechniczne zależności.</p>
                </div>
            <br>
            </div>

            <div class="column">
                <div class="card">
                  <h5>Zespół Scrumowy</h5>
                     <p>Składa się z Właściciela Produktu (ang. Product Owner), Scrum Mastera oraz Zespołu Deweloperskiego (ang. Development Team). Samoorganizacja, decyzyjność, kompetencja oraz niezależność to cechy charakteryzujące Zespoły Scrumowe.</p>
                </div>     
            </div>

            <div class="column">
              <div class="card">
                  <h5>Product Owner</h5>
                    <p>Dba o maksymalizację wartości pracy Zespołu Deweloperskiego oraz przede wszystkim samego produktu. Jest to jedyna osoba odpowiedzialna za poprawne prowadzenie i zarządzanie Backlogiem Produktu (ang. Product Backlog). Jego decyzje muszą być respektowane przez cały zespół, a nawet organizację.</p> 
              </div>     
            </div>

            <div class="column">
              <div class="card">
                  <h5>Scrum Master</h5>
                  <p>stoi na straży i pilnuje aby Scrum był przestrzegany i rozumiany. Scrum Master poprzez swoje działania pomaga Zespołowi Deweloperskiemu w wytwarzaniu jak najwyższej wartości produktu.</p> 
              </div>
            <br>
            </div>
             
            <div class="column">
              <br>
              <div class="card">
                  <h5>Development Team</h5>
                  <p>Formułuje od 3 do 9 profesjonalistów mających na celu ukończenie każdego Sprintu oraz wytworzenia Przyrostu produktu. </p>
              </div>
            </div>

            <div class="column">
                <br>
              <div class="card">
                  <h5>Nexus Product Owner</h5>
                      <p>Pracuje na głównym Backlogu Produktu i jest za niego w pełni odpowiedzialny.</p> 
              </div>
            </div>
   
            <div class="column">
                <br>
              <div class="card">
                  <h5>Nexus Scrum Master</h5>
                      <p>Upewnia się że Nexus i Scrum są poprawnie stosowane i rozumiane. Może być również Scrum Masterem w jednym lub wielu Zespołach Scrumowych. </p>   
              </div>
            </div>

            <div class="column">
                <br>
              <div class="card">
                  <h5>Nexus Integration Team</h5>
                      <p>Łączy w sobie specjalistów w dziedzinie programowania, dzięki czemu mogą oni zapewnić, że wszystkie działania Zespołów Scrumowych są wykonywane zgodnie z definicją „Ukończenia” (ang. definition of „Done”). Prowadzą oni zespoły Scrumowe tak, aby wytwarzali oni oprogramowanie zgodnie ze standardami panującymi w organizacji. Członkowie Zespołu Integracyjnego Nexusa mogą również uczestniczyć w Zespołach Scrumowych, jednak zadania związane z Zespołem Integracyjnym Nexusa mają wyższy piorytet.</p>       
              </div>
            </div>
            </div>

            
              
            

            
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Wydarzenia</ng-template>
    <ng-template ngbTabContent>
        <div class="row">
            <div class="column2">
                <div class="card2">
                    <h5>Wydarzenia występujące w Scrumie</h5>
                     <p> Wprowadza się je w celu uzyskania regularności oraz aby zredukować potrzebę organizowania innych spotkań. Wszystkie wydarzenie są ograniczone czasowo oraz wspólnie zapewniają, niezbędną przy prowadzeniu projektu, transparencję. 
                     </p></div>
                     <br>
                </div>
          <div class="column">
            <div class="card">
                <h5>Nexus Sprint Planning</h5>
                 <p>Przedstawiciele każdego z mniejszego zespołu Scrumowego spotykają się w celu omówienia Backlogu Produktu oraz wybrania funkcjonalności dla każdego zespołu. Następnym krokiem jest planowanie wewnątrz poszczególnych zespołów dzięki czemu otrzymujemy główny Cel Sprintu. 
                 </p></div>
                 
            </div>
          <div class="column">
            <div class="card">
                <h5>Wytwarzanie Przyrostu</h5>
                <p>Każdy z zespołów w trakcie Sprintu dzięki swojej pracy programistycznej przyczynia się do zwiększenia wartości Przyrostu.  
                  </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
                <h5>Nexus Daily Scrum</h5>
                <p>Codzienne spotkanie reprezentantów każdego z Zespołu Deweloperskiego w celu identyfikacji problemów związanych z integracją. W przypadku wystąpienia jakichkolwiek problemów przekazywane są one innym zespołom w ramach Codziennego Scruma. Problemy związane z integracją powinny być rozwiązane w pierwszej kolejności. 
                  </p>
            </div>
          </div>
          <br>
          <div class="column">
              <div class="card">
                  <h5>Nexus Sprint Retrospective</h5>
                   <p>Wyznaczeni przedstawiciele każdego Zespołu Scrumowego spotykają się, aby zidentyfikować wspólne wyzwania. Następnie każdy Zespół Scrumowy przeprowadza swoją własną Retrospektywę Sprintu. Po jej zakończeniu wyznaczeni przedstawiciele każdego z zespołów spotykają się ponownie, aby omówić działania, których realizacja jest niezbędna w obliczu wspólnych wyzwań. Takie działanie jest przejawem wykorzystania „oddolnej inteligencji. 
                   </p></div>
                   
              </div>
              
          <div class="column">
              <div class="card">
                  <h5>Nexus Sprint Review</h5>
                   <p>To wtedy wszystkie Scrumowe zespoły spotykają się razem z Właścicielem Produktu i prezentują Zintegrowany Przyrost.  
 
                   </p></div>
                   
              </div>
              
        </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Artefakty">
    <ng-template ngbTabContent>
      <div class="row">
          <div class="column2">
              <div class="card2">
                  <h5>Artefakty Scruma</h5>
                   <p> (ang. Scrum Artifacts) to Praca czy wartość, dzięki której w Scrumie utrzymywana jest transparentność, możliwość inspekcji oraz adaptacji. Należą do nich:
                   </p></div>
                   <br>
              </div>
        <div class="column">
          <div class="card">
              <h5>Product Backlog</h5>
               <p>(Backlog Produktu), czyli czytelny zbiór wszystkich informacji powiązanych z rozwojem produktu. Jest to jedyne źródło wymagań odnośnie produktu, a odpowiedzialnym za niego jest Właściciel Produktu. Backlog w formie listy prezentuje wszystkie funkcje, ulepszenia, wymagania, cechy, a także korekty, reprezentujące zmiany, które mogą zajść. 
               </p></div>
               
          </div>
        <div class="column">
          <div class="card">
              <h5>Sprint Backlog</h5>
              <p>(Backlog Sprintu) jest analogiczny dla Backlogu Produktu jednakże zawiera elementy wybrane do zrealizowania w trakcie Sprintu. 
                </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
              <h5>Przyrost</h5>
              <p>(ang. Increment) to suma wszystkich elementów Backlogu zrealizowanych w trakcie trwania Sprintu. </p>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Elementy">
    <ng-template ngbTabContent>
      <div class="row">
          <div class="column2">
              <div class="card2">
                  <h5>Story Mapping</h5>
                   <p> Technika umożliwiająca spojrzenie na cały projekt z punktu widzenia pojedynczych zadań i historyjek użytkownika. Polega na tworzeniu siatki historyjek użytkowników, układając je w odpowiednich nagłówkach, które reprezentują ścieżkę użytkownika poruszającego się po produkcie. Grupując historyjki w ten sposób jesteśmy w stanie się upewnić, że opracowujemy znaczące rozwiązanie, które umożliwia kompletne przejście ścieżki przez użytkownika. Story mapping umożliwia zaprojektowanie minimalistycznego rozwiązania, które wnosi nową biznesową wartość i zaspokaja rynkowe zapotrzebowanie klienta. 
                   </p></div>
                   <br>
              </div>
        <div class="column2">
          <div class="card2">
              <h5>Planning Poker</h5>
               <p>Planning Poker wykorzystuje elementy gry do estymacji poziomu skomplikowania historyjek użytkowników i jest stosowane w wielu zespołach Agile. Stosowanie ustrukturyzowanego formatu gry sprawia, że planowanie nie przeciąga się w nieskończoność i nie grzęźnie w dyskusjach. Taki format spotkania daje szansę wykorzystać wiedzę wszystkich członków zespołu, eliminując sytuację, gdy pewniejsze siebie osoby zagłuszają te bardziej nieśmiałe. Takie spotkanie daje też świetną okazję do rozmowy na temat ryzyka związanego z wdrażaniem konkretnej historyjki użytkownika.
               </p></div>
               <br>
               
          </div>
        <div class="column2">
          <div class="card2">
              <h5>Story Points</h5>
              <p>Umożliwiają oszacowanie wysiłku, jaki jest niezbędny aby wykonać pracę nad historyjką użytkownika. Oceniając historyjki nadajemy im wartość punktową. Niemniej jednak sama ta wartość nie odzwierciedla poziomu skomplikowania danej historyjki. Liczy się realna wartość, która zależy od innych ocenionych już historyjek. Historia, której przypisano wartość 2, powinna być dwa razy trudniejsza od historyjki, której przypisuje się 1 oraz analogicznie dwie trzecie historyjki, które zostały oszacowane na 3 punkty.
                </p>
          </div>
          <br>
        </div>
        
        <div class="column2">
          <div class="card2">
              <h5>Impact Mapping</h5>
              <p>Technika planowania strategicznego, która pomaga podczas planowania projektu oraz upewnia nas w przekonaniu, że założenia biznesowe idą zgodnie z procesem dostarczania oprogramowania, a sam proces jest dostosowany do nałożenia ewentualnych zmian. Impact Mapping idealnie nadaje się do stosowania w obecnych popularnych technikach do zarządzania produktami i projektami, czyli takimi zorientowanymi na cel. Jasno przekazując założenia, proces ten chroni firmę przed zagubieniem się podczas wytwarzania produktu. Dodatkowo pomaga skutecznie dopasować plany i reagować na zmiany, jednocześnie zapewniając mapę dla zespołów programistycznych oraz obraz całości dla klienta, zarządu czy sponsorów biznesowych. 
              </p>
          </div>
        </div>
        <br>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
</div>


