<div class="overlay"></div>
<div class="tlo5">
<div class="btn-holder-logout logout-position">
    <div class="container h-100">
        <div class="item-holder-logout">
            <button type="button" (click)="logout()" class="btn btn-info">Wyloguj się</button>
          </div>
        
    </div>
</div>

<!-- <div class="user-holder sprint1 ">
    <div class="container-fluid  text-center">
            <h3>SPRINT 4</h3>
        <div class="box h-100 align-items-stretch justify-content-between text-center">
                
            <div class="item-holder text-center">
                <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/isLfKNiW6eoMfOSz2">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a>
              
            </div>
            <div class="item-holder text-center" (click)="open(content)">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/nexus-trzy']">
                <h4>
                    <br>WIKI 
                    <br>NEXUS</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div>


<div class="user-holder sprint2 ">
    <div class="container-fluid  text-center">
            <h3>SPRINT 3</h3>
        <div class="box h-100 align-items-stretch justify-content-between text-center">
                
            <div class="item-holder text-center">
                <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/m46amPEHyiDDUmi43">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a>
              
            </div>
            <div class="item-holder text-center" (click)="open(content)">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/nexus-trzy']">
                <h4>
                    <br>WIKI 
                    <br>NEXUS</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div>  -->


  <div class="user-holder sprint1 ">
    <div class="container-fluid  text-center">
            <h3>SPRINT 2</h3>
        <div class="box h-100 align-items-stretch justify-content-between text-center">
                
            <div class="item-holder text-center">
                <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/Kp4vuOM3SNXNUcKn2">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a>
              
            </div>
            <div class="item-holder text-center" (click)="open(content)">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/nexus']">
                <h4>
                    <br>WIKI 
                    <br>NEXUS</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']" >
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div> 

<div class="user-holder sprint2 bottom">
    <div class="container-fluid  text-center ">
            <h3>SPRINT 1</h3>
        <div class="box h-100 align-items-stretch justify-content-between">
            <div class="item-holder text-center">
                <h4>
                    <br>WYNIKI
                    <br>ANKIETY</h4>
                     <a href="https://docs.google.com/forms/d/e/1FAIpQLSepWIn0SMyDSK8QMYpLL-hs3tF1VccBs5uOsPJ65gn505Rm6Q/viewanalytics">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a>
              
            </div>
            <div class="item-holder text-center" (click)="open(content)">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/wiki']">
                <h4>
                    <br>WIKI 
                    <br>SCRUM</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div>  
    </div>

    
    

</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ustalenia Twojego Sprintu</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <label>Czas trwania:</label>
            <input type="text" placeholder="Wpisz czas trwania sprintu" class="form-control">
            <label>Godzina</label>
            <input type="text" placeholder="Wprowadź godzinę Daily Scrum" class="form-control">
            <label>Miejsce</label>
            <input type="text" placeholder="Wprowadź miejsce Daily Scrum" class="form-control">
            <label>Sprint Review</label>
            <input type="date" placeholder="Wybierz termin Sprint Review" class="form-control">
            <label>Sprint Retrospective</label>
            <input type="date" placeholder="Wybierz termin Sprint Review" class="form-control">
            <label>Scrum Master</label>
            <input type="text" placeholder="Imię i nazwisko Scrum Mastera" class="form-control">
            <label>Product Owner</label>
            <input type="text" placeholder="Imię i nazwisko Product Ownera" class="form-control">
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Zapisz</button>
    </div>
  </ng-template>
  
    