<div class="overlay"></div>
<!--<div class="tlo3"></div>-->
<div class="btn-holder-logout logout-position">
    <div class="container h-100">
        <div class="item-holder-logout">
            <button type="button" (click)="logout()" class="btn btn-info">Wyloguj się</button>
          </div>
        
    </div>
</div>

<div class="user-holder sprint3 ">
    <div class="container-fluid  text-center">
            <h3>SPRINT 3</h3>
        <div class="box h-100 align-items-stretch justify-content-between text-center">
                
            <div class="item-holder text-center">
                <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/QrixBOyHVcFAwM6H2">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a>
              
            </div>
            <div class="item-holder text-center" (click)="open(content)">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/wiki']">
                <h4>
                    <br>WIKI 
                    <br>SCRUM</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div>


<div class="user-holder sprint2 ">
    <div class="container-fluid  text-center">
            <h3>SPRINT 2</h3>
        <div class="box h-100 align-items-stretch justify-content-between text-center">
                
            <div class="item-holder text-center">
                <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/QrixBOyHVcFAwM6H2">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a>
              
            </div>
            <div class="item-holder text-center" (click)="open(content)">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/wiki']">
                <h4>
                    <br>WIKI 
                    <br>SCRUM</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div>

<div class="user-holder sprint1 bottom">
    <div class="container-fluid  text-center ">
            <h3>SPRINT 1</h3>
        <div class="box h-100 align-items-stretch justify-content-between">
            <div class="item-holder text-center">
                <h4>
                    <br>WYNIKI
                    <br>ANKIETY</h4>
                     <a href="https://docs.google.com/forms/d/e/1FAIpQLSepWIn0SMyDSK8QMYpLL-hs3tF1VccBs5uOsPJ65gn505Rm6Q/viewanalytics">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a>
              
            </div>
            <div class="item-holder text-center" (click)="open(content)">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/wiki']">
                <h4>
                    <br>WIKI 
                    <br>SCRUM</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div>

    
    

</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ustalenia Twojego Sprintu</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Czas trwania: wprowadź<br>
        Cel:wprowadź<br>
        Termin Daily Scrum:wprowadź<br>
        Miejsce Daily Scrum:wprowadź<br>
        Termin Sprint Review:
        Termin Sprint Retrospective:wprowadź<br>
        Scrum Master:wprowadź<br>
        Product Owner:wprowadź</p>
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Zapisz</button>
    </div>
  </ng-template>
  
    