<div class="overlay"></div>
<div class="tlo5">
  <div class=text-center>
  <h1>GRUPA 1</h1>
</div>
<div class="btn-holder-logout logout-position">
    <div class="container h-100">
        <div class="item-holder-logout">
            <button type="button" (click)="logout()" class="btn btn-info">Wyloguj się</button>
          </div>
        
    </div>
</div>

<!-- <div class="user-holder sprint1 ">
    <div class="container-fluid  text-center">
            <h3>SPRINT 4</h3>
        <div class="box h-100 align-items-stretch justify-content-between text-center">
                
            <div class="item-holder text-center">
                <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/8q5pqmnjEXm8siJT2">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a> -->

                   <!-- <br>WYNIKI
                    <br>ANKIETY</h4>
                     <a href="https://docs.google.com/forms/d/1S8XumES1zFihnsT-J5uoqbhaGKqUWzr2kMc9RNkHwqA/viewanalytics">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>  </span>
                    </a> -->
              
          <!--  </div>
            <div class="item-holder text-center" [routerLink]="['/info1']">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/nexus-trzy']">
                <h4>
                    <br>WIKI 
                    <br>NEXUS</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div> -->


<!--<div class="user-holder sprint2 ">
    <div class="container-fluid  text-center">
            <h3>SPRINT 3</h3>
        <div class="box h-100 align-items-stretch justify-content-between text-center">
                
            <div class="item-holder text-center">
                <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/qa0qF62gnIKDSXhr1">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a> -->

                   <!-- <br>WYNIKI
                    <br>ANKIETY</h4>
                     <a href="https://docs.google.com/forms/d/1IMWVilYyIYciAl6R-gmKNyMezkJZVLjAuS3mCEo5I5k/viewanalytics">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>  </span>
                    </a> -->
              
         <!--   </div>
            <div class="item-holder text-center" [routerLink]="['/info1']">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/nexus-trzy']">
                <h4>
                    <br>WIKI 
                    <br>NEXUS</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div>  -->


   <div class="user-holder sprint1 ">
    <div class="container-fluid  text-center">
            <h3>SPRINT 2</h3>
        <div class="box h-100 align-items-stretch justify-content-between text-center">
                
            <div class="item-holder text-center">
                <h4>
                    <br>WYPEŁNIJ
                    <br>ANKIETĘ</h4>
                     <a href="https://goo.gl/forms/4xKUUTWbCWDemdps1">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a> 

                    <!-- <br>WYNIKI
                    <br>ANKIETY</h4>
                     <a href="https://docs.google.com/forms/d/1n73A_KzCJV016MVy_YDKRJ6bpCAc-qS7IZpqFsTT4LQ/viewanalytics">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>  </span>
                    </a> -->
              
             </div>
            <div class="item-holder text-center" [routerLink]="['/info1']">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/nexus']">
                <h4>
                    <br>WIKI 
                    <br>NEXUS</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']" >
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div> -->

<div class="user-holder sprint2 bottom">
    <div class="container-fluid  text-center ">
            <h3>SPRINT 1</h3>
        <div class="box h-100 align-items-stretch justify-content-between">
            <div class="item-holder text-center">
                <h4>
                       
                    <!-- <br>WYPEŁNIJ
                        <br>ANKIETĘ</h4>
                         <a href.disabled="https://goo.gl/forms/h45n9zWeRl51Pi0z2">
                            <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>  </span>
                    </a>   -->

                    <br>WYNIKI
                    <br>ANKIETY</h4>
                     <a href="https://docs.google.com/forms/d/e/1FAIpQLSepWIn0SMyDSK8QMYpLL-hs3tF1VccBs5uOsPJ65gn505Rm6Q/viewanalytics">
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>  </span>
                    </a>
                    
              
            </div>
            <div class="item-holder text-center" [routerLink]="['/info1']">
                <div class="h-100">
                    <h4>
                        <br>NASZ
                        <br> SPRINT </h4>
                    
                    <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                        <i class="fa fa-circle  fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
        </div>
            <div class="item-holder text-center" [routerLink]="['/wiki']">
                <h4>
                    <br>WIKI 
                    <br>SCRUM</h4>
                <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="item-holder text-center" [routerLink]="['/notes']">
                    <div class="h-100">
                        <h4>
                            <br>NEXUS
                            <br> TEAM </h4>
                        
                        <span class="fa-stack fa-lg fa-size" style="height: 50%;">
                            <i class="fa fa-circle  fa-stack-2x"></i>
                            <i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
            </div>
        </div>
    </div>  
</div>
</div>

 